// _header.scss
// ----------------------------------------------------------------------------
@use '../foundation/base';

.l-header {
    position: fixed;
    width: 100%;
    height: 90px;
    padding: 30px 30px 30px;
    @include base.font_montserrat;

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 0.05em;

        &__heading {
            font-size: base.p2r(28);

            line-height: 1;
            color: var(--color-purple);
        }

        &__gnav {
            display: flex;
            column-gap: 30px;
            color: white;
        }
    }
}