// _secMV.scss
// ----------------------------------------------------------------------------
@use '../../foundation/base';

.p-secMV {
    position: relative;
    height: 51.2vw;
    background-image: url(../img/sean_mv.png), linear-gradient(117deg, #0E002E, #1E092B 23%, #320C65 49%, #A01B7C 80%, #C21780);
    background-size: 40.9%, 100%;
    background-position: 92% bottom, center;
    background-repeat: no-repeat;

    @include base.mq(tab) {
        height: 100vw;
        background-size: 70%, 100%;
        background-position: 130% bottom, center;
    }

    &__ctn {
        padding: 11.2vw 4.685vw 0 7.174vw;
    }

    &__subtitle {
        @include base.font_montserrat;
        font-size: 1.756vw;
        letter-spacing: 0.05em;
        line-height: 1;
        color: var(--color-purple);
    }

    &__title {
        position: relative;
        margin-top: 1.39vw;
        @include base.font_montserrat;
        font-size: 7.32vw;
        letter-spacing: 0.016em;
        line-height: 1;

        &::after {
            position: absolute;
            content: '';
            width: 23.86vw;
            height: 4.978vw;
            bottom: -5.672vw;
            left: 26.04vw;
            background-image: url(../img/teiji-de-kaerumon.svg);
            background-size: contain;
            background-position: center;
            transform: rotate(-13deg);

            @include base.mq(tab) {
                width: 35.79vw;
                height: 7.467vw;
                bottom: -10vw;
                left: 15vw;
            }
        }
    }

    &__date {
        display: block;
        margin-top: 0.732vw;
        @include base.font_montserrat;
        font-size: 2.635vw;
        letter-spacing: 0.07em;
        line-height: 1.15;
    }

    &__btnApp {
        display: block;
        width: fit-content;
        margin-top: 2.342vw;
        padding: 1.756vw 7.54vw;
        background-image: linear-gradient(to right, #C41A7F, #664BBF);
        border-radius: 100px;
        font-size: max(base.p2r(16), 1.317vw);
        letter-spacing: 0.05em;
        line-height: 1;
        filter: drop-shadow(0 0.73vw 0 var(--color-reddishPurple));
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

        &:hover {
            transform: translateY(0.73vw);
            filter: drop-shadow(0 0 0 var(--color-reddishPurple));
        }

        @include base.mq(tab) {
            margin-top: 12.7vw;
        }
    }

    &__ctnName {
        position: absolute;
        right: 5.124vw;
        bottom: 1.464vw;

        &__name {
            display: block;
            margin-top: 0.7vw;
            font-size: 1.537vw;
            letter-spacing: -0.06em;
            line-height: 1;

            &__uzi {
                font-size: 1.229vw;
                letter-spacing: 0.05em;
                line-height: 1;
            }
        }

        &__job {
            display: block;
            margin-top: 3px;
            font-size: 1.024vw;
            letter-spacing: 0.05em;
            line-height: 1;
        }
    }
}