// _c-common.scss
// ----------------------------------------------------------------------------
@use '../../foundation/base';

.c-commonHeading {
    display: grid;
    place-items: center;
    letter-spacing: 0.05em;
    line-height: 1;
    text-align: center;

    &__main {
        @include base.font_montserrat;
        font-size: base.p2r(60);
        color: var(--color-purple);

        @include base.mq(tab) {
            font-size: base.p2r(40);
        }
    }

    &__sub {
        font-size: base.p2r(20);
        color: white;

        @include base.mq(tab) {
            font-size: base.p2r(15);
        }
    }
}

.c-returnToTop {
    position: fixed;
    display: grid;
    place-items: center;
    right: 40px;
    bottom: 40px;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to bottom right, #C41A7F, #664BBF);
    border-radius: 50%;

    &::after {
        display: block;
        content: '';
        height: 16px;
        width: 16px;
        border-top: 4px solid white;
        border-left: 4px solid white;
        transform: translateY(25%) rotate(45deg);
    }

    &:hover {
        filter: brightness(120%);
    }
}